.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Editor
*.swp
*.swo
*~
